In [11]:
import numpy as np
import pandas as pd

In [14]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [15]:
planets.head(5)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [17]:
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [18]:
df.mean()

A    0.477888
B    0.443420
dtype: float64

In [19]:
df.mean(axis='columns')

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [21]:
df.mean(axis='index')

A    0.477888
B    0.443420
dtype: float64

In [22]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [23]:
planets.dropna().shape

(498, 6)

In [24]:
planets.dropna().head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [35]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df
p

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [28]:
df2=df.groupby('key').sum()

In [37]:
print(type(df['data']))
type(df2['data'])

<class 'pandas.core.series.Series'>

pandas.core.series.Series

In [38]:
df2['data']

key
A    3
B    5
C    7
Name: data, dtype: int64

In [39]:
df['data']

0    0
1    1
2    2
3    3
4    4
5    5
Name: data, dtype: int64

In [44]:
import plotly.express as px
# fig = px.scatter(x=[0, 1, 2, 3, 4,5], y=df['data'])
fig = px.scatter(x=[0, 1, 2], y=df2['data'])
fig.update_layout(width=500,height=300)
fig.show()

In [50]:
planets.head(5)
# planets.method.unique()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [60]:
df2=planets.groupby('method',as_index=False)[['orbital_period','distance']].median()
#type is series

In [61]:
df2.columns.values

array(['method', 'orbital_period', 'distance'], dtype=object)

In [62]:
df2

                          method  orbital_period  distance
0                     Astrometry      631.180000    17.875
1      Eclipse Timing Variations     4343.500000   315.360
2                        Imaging    27500.000000    40.395
3                   Microlensing     3300.000000  3840.000
4  Orbital Brightness Modulation        0.342887  1180.000
5                  Pulsar Timing       66.541900  1200.000
6    Pulsation Timing Variations     1170.000000       NaN
7                Radial Velocity      360.200000    40.445
8                        Transit        5.714932   341.000
9      Transit Timing Variations       57.011000   855.000

In [66]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

(1035, 6)

In [70]:
planets.groupby('method')['number'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,1.000000,0.000000,1.0,1.0,1.0,1.00,1.0
Eclipse Timing Variations,9.0,1.666667,0.500000,1.0,1.0,2.0,2.00,2.0
Imaging,38.0,1.315789,0.933035,1.0,1.0,1.0,1.00,4.0
Microlensing,23.0,1.173913,0.387553,1.0,1.0,1.0,1.00,2.0
Orbital Brightness Modulation,3.0,1.666667,0.577350,1.0,1.5,2.0,2.00,2.0
Pulsar Timing,5.0,2.200000,1.095445,1.0,1.0,3.0,3.00,3.0
Pulsation Timing Variations,1.0,1.000000,NaN,1.0,1.0,1.0,1.00,1.0
Radial Velocity,553.0,1.721519,1.157141,1.0,1.0,1.0,2.00,6.0
Transit,397.0,1.954660,1.399119,1.0,1.0,1.0,2.00,7.0
Transit Timing Variations,4.0,2.250000,0.500000,2.0,2.0,2.0,2.25,3.0

In [71]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [76]:
df.groupby('key').aggregate([min, np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [77]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [80]:
df.groupby('key').aggregate({'data1': 'sum',
                             'data2': 'median'})

     data1  data2
key
A        3    4.0
B        5    3.5
C        7    6.0

In [81]:
def filter_func(x):
    return x['data2'].std() > 4

# 'df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)"

In [82]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [83]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [91]:
def filter_func(x):
    print(x)
    return x['data2'].std() > 4
df2=df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      5
3   A      3      3
  key  data1  data2
1   B      1      0
4   B      4      7
  key  data1  data2
2   C      2      3
5   C      5      9

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [93]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [95]:
def norm_by_data2(x):
    # x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x

df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [96]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [99]:
L = [0, 1, 0, 1, 2, 0]
df.groupby(L,as_index=False).sum()

   data1  data2
0      7     17
1      4      3
2      4      7

In [100]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [101]:
df2 = df.set_index('key')

df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

In [102]:
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df2.groupby(mapping).sum()

           data1  data2
consonant     12     19
vowel          3      8

In [105]:
df2.groupby(str.lower).mean()

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0

In [108]:
df2.groupby([str.lower, mapping]).mean()

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [ ]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

In [114]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'    #you can give a name to a var
decade.name

'decade'

In [125]:
planets.groupby(['method', decade])['number'].sum()

method                         decade
Astrometry                     2010s       2
Eclipse Timing Variations      2000s       5
                               2010s      10
Imaging                        2000s      29
                               2010s      21
Microlensing                   2000s      12
                               2010s      15
Orbital Brightness Modulation  2010s       5
Pulsar Timing                  1990s       9
                               2000s       1
                               2010s       1
Pulsation Timing Variations    2000s       1
Radial Velocity                1980s       1
                               1990s      52
                               2000s     475
                               2010s     424
Transit                        2000s      64
                               2010s     712
Transit Timing Variations      2010s       9
Name: number, dtype: int64

In [130]:
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [131]:
planets['decade']=decade
planets.head(5)

            method  number  orbital_period   mass  distance  year decade
0  Radial Velocity       1         269.300   7.10     77.40  2006  2000s
1  Radial Velocity       1         874.774   2.21     56.95  2008  2000s
2  Radial Velocity       1         763.000   2.60     19.84  2011  2010s
3  Radial Velocity       1         326.030  19.40    110.62  2007  2000s
4  Radial Velocity       1         516.220  10.50    119.47  2009  2000s

In [133]:
planets.groupby(['method', 'decade'],as_index=False)['number'].sum()
# .unstack().fillna(0)

                           method decade  number
0                      Astrometry  2010s       2
1       Eclipse Timing Variations  2000s       5
2       Eclipse Timing Variations  2010s      10
3                         Imaging  2000s      29
4                         Imaging  2010s      21
5                    Microlensing  2000s      12
6                    Microlensing  2010s      15
7   Orbital Brightness Modulation  2010s       5
8                   Pulsar Timing  1990s       9
9                   Pulsar Timing  2000s       1
10                  Pulsar Timing  2010s       1
11    Pulsation Timing Variations  2000s       1
12                Radial Velocity  1980s       1
13                Radial Velocity  1990s      52
14                Radial Velocity  2000s     475
15                Radial Velocity  2010s     424
16                        Transit  2000s      64
17                        Transit  2010s     712
18      Transit Timing Variations  2010s       9

In [148]:
planets.groupby(['method', 'decade'],)['number'].sum().unstack(-2).fillna(0)

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
decade,,,,,,,,,,
1980s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1990s,0.0,0.0,0.0,0.0,0.0,9.0,0.0,52.0,0.0,0.0
2000s,0.0,5.0,29.0,12.0,0.0,1.0,1.0,475.0,64.0,0.0
2010s,2.0,10.0,21.0,15.0,5.0,1.0,0.0,424.0,712.0,9.0

In [149]:
planets.groupby(['method', 'decade'],)['number'].sum().unstack(-1).fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [ ]:
#if you use as_index, then use melt, like in the tutorial of racing bar chart in "scatter plot file folder"

In [150]:
print('fix issue')

fix issue

In [167]:
planets.groupby(['method', 'decade'],)['number'].sum().fillna(0)

method                         decade
Astrometry                     2010s       2
Eclipse Timing Variations      2000s       5
                               2010s      10
Imaging                        2000s      29
                               2010s      21
Microlensing                   2000s      12
                               2010s      15
Orbital Brightness Modulation  2010s       5
Pulsar Timing                  1990s       9
                               2000s       1
                               2010s       1
Pulsation Timing Variations    2000s       1
Radial Velocity                1980s       1
                               1990s      52
                               2000s     475
                               2010s     424
Transit                        2000s      64
                               2010s     712
Transit Timing Variations      2010s       9
Name: number, dtype: int64

In [155]:
# df3=planets.groupby(['method', 'decade'],as_index=False)['number'].sum().fillna(0)
# df3 = pd.melt(df3,id_vars=['method'],var_name='decade',value_name='number')
# df3

In [180]:
df3=planets.groupby(['method', 'decade'],)['number'].sum().unstack(-1).fillna(0)
df3
# df3.columns
# df3.index
# df3 = pd.melt(df3,id_vars=[['method']],var_name='decade',value_name='number')
# df3=pd.melt(df3, id_vars=['decade'], value_vars=['sd'])
# df3

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [190]:
for row in df3.iterrows():
    print(row[1][1],)

0.0
0.0
0.0
0.0
0.0
9.0
0.0
52.0
0.0
0.0

In [191]:
column_names = ["m", "80","90","00","10" ]
dfm= pd.DataFrame(columns = column_names)

In [195]:
for row in df3.iterrows():
    l=[row[0],row[1][0],row[1][1],row[1][2],row[1][3]]
    print(l)
    dfm.loc[len(dfm)] = l
#     print(row[0],)

['Astrometry', 0.0, 0.0, 0.0, 2.0]
['Eclipse Timing Variations', 0.0, 0.0, 5.0, 10.0]
['Imaging', 0.0, 0.0, 29.0, 21.0]
['Microlensing', 0.0, 0.0, 12.0, 15.0]
['Orbital Brightness Modulation', 0.0, 0.0, 0.0, 5.0]
['Pulsar Timing', 0.0, 9.0, 1.0, 1.0]
['Pulsation Timing Variations', 0.0, 0.0, 1.0, 0.0]
['Radial Velocity', 1.0, 52.0, 475.0, 424.0]
['Transit', 0.0, 0.0, 64.0, 712.0]
['Transit Timing Variations', 0.0, 0.0, 0.0, 9.0]

In [200]:
dfm.head(10)

                               m   80    90     00     10
0                     Astrometry  0.0   0.0    0.0    2.0
1      Eclipse Timing Variations  0.0   0.0    5.0   10.0
2                        Imaging  0.0   0.0   29.0   21.0
3                   Microlensing  0.0   0.0   12.0   15.0
4  Orbital Brightness Modulation  0.0   0.0    0.0    5.0
5                  Pulsar Timing  0.0   9.0    1.0    1.0
6    Pulsation Timing Variations  0.0   0.0    1.0    0.0
7                Radial Velocity  1.0  52.0  475.0  424.0
8                        Transit  0.0   0.0   64.0  712.0
9      Transit Timing Variations  0.0   0.0    0.0    9.0

In [199]:
df3=pd.melt(dfm, id_vars=['m'], value_vars=['80','90','00','10'],var_name='decade')
df3.head(10)

                               m decade  value
0                     Astrometry     80    0.0
1      Eclipse Timing Variations     80    0.0
2                        Imaging     80    0.0
3                   Microlensing     80    0.0
4  Orbital Brightness Modulation     80    0.0
5                  Pulsar Timing     80    0.0
6    Pulsation Timing Variations     80    0.0
7                Radial Velocity     80    1.0
8                        Transit     80    0.0
9      Transit Timing Variations     80    0.0

In [201]:
df2 = df.set_index('key')
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

In [203]:
df2.groupby([str.lower, mapping],as_index=False).mean()

   data1  data2
0    1.5    4.0
1    2.5    3.5
2    3.5    6.0

In [204]:
df2.groupby([str.lower, mapping],).mean()

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [205]:
df2.groupby(['key']).mean()

     data1  data2
key
A      1.5    4.0
B      2.5    3.5
C      3.5    6.0

In [211]:
df2.reset_index().groupby(['key'],as_index=False).mean()

  key  data1  data2
0   A    1.5    4.0
1   B    2.5    3.5
2   C    3.5    6.0

In [222]:
def norm_by_data2(x):
#     print(len(x)) 222
    print(x)
    x['data1'] /= x['data2'].sum()
    return x

# df['temp']=[1,2,3,4,5,6]
# df
# df.groupby('temp').apply(norm_by_data2)
df.groupby('temp').apply(norm_by_data2)

  key  data1  data2  temp
0   A      0      5     1
  key  data1  data2  temp
1   B      1      0     2
  key  data1  data2  temp
2   C      2      3     3
  key  data1  data2  temp
3   A      3      3     4
  key  data1  data2  temp
4   B      4      7     5
  key  data1  data2  temp
5   C      5      9     6

  key     data1  data2  temp
0   A  0.000000      5     1
1   B       inf      0     2
2   C  0.666667      3     3
3   A  1.000000      3     4
4   B  0.571429      7     5
5   C  0.555556      9     6

In [225]:
def norm_by_data2(x):
#     print(len(x)) 222
    print(x)
    x['data1'] = x['data2'].sum()
    return x

# df['temp']=[1,2,3,4,5,6]
# df
# df.groupby('temp').apply(norm_by_data2)
df.groupby('key').apply(norm_by_data2)

  key  data1  data2  temp
0   A      0      5     1
3   A      3      3     4
  key  data1  data2  temp
1   B      1      0     2
4   B      4      7     5
  key  data1  data2  temp
2   C      2      3     3
5   C      5      9     6

  key  data1  data2  temp
0   A      8      5     1
1   B      7      0     2
2   C     12      3     3
3   A      8      3     4
4   B      7      7     5
5   C     12      9     6

In [228]:
df
# df.groupby('key').transform(lambda x: x - x.mean())

  key  data1  data2  temp
0   A      0      5     1
1   B      1      0     2
2   C      2      3     3
3   A      3      3     4
4   B      4      7     5
5   C      5      9     6

In [229]:
df.groupby('key').transform(lambda x: x - x.mean())   #for a, data1, mean is 0+3/2, row 0 and row 3,

   data1  data2  temp
0   -1.5    1.0  -1.5
1   -1.5   -3.5  -1.5
2   -1.5   -3.0  -1.5
3    1.5   -1.0   1.5
4    1.5    3.5   1.5
5    1.5    3.0   1.5

In [231]:
df.drop(['temp'], axis=1,inplace=True)
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [232]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [235]:
tempdf=df.drop(df.index[[0,1,2]])
tempdf

  key  data1  data2
3   A      3      3
4   B      4      7
5   C      5      9

In [236]:
tempdf.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
3    0.0    0.0
4    0.0    0.0
5    0.0    0.0

In [237]:
print(1)

1

In [238]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']
}
df = pd.DataFrame(people)
df.sort_values(by='last', ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [241]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
print(df)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [242]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [244]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [262]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [248]:
df.head(10)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
6,I am a developer by profession,No,NaN,14,NaN,NaN,NaN,Germany,European Euro,EUR,NaN,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,White or of European descent,Man,Diversity of the company or organization;Langu...,Slightly satisfied,I am not interested in new job opportunities,HTML/CSS;Java;JavaScript,HTML/CSS;Java;JavaScript,NaN,NaN,Github;Slack,Confluence;Github;Slack;Trello,Not sure,NaN,Fairly important,NaN,NaN,Once a year,No,No,No,Never,Ask developers I know/work with;Read ratings o...,Amused,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Watch help / t...,Windows,NaN,Android,Android;Docker;WordPress,I have some influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,A few times per week,Neither easy nor difficult,Appropriate in length,NaN,NaN,React.js,NaN,NaN,NaN,6,4
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,MongoDB,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,Remote work options;Opportunities for professi...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",JavaScript,Python;SQL,Unity 3D,Ansible,NaN,Confluence;Jira;Github;Slack;Microsoft Teams;G...,Yes,Extremely important,Not at all important/not necessary,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Call a coworker or friend;Visit Sta...,Linux-based,20 to 99 employees,iOS;Slack Apps and Integrations,Docker,I have some influence,Straight / Heterosexual,Yes,"No, not really",Less than once per month or monthly,Multiple times per day,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
9,I am a developer by profession,No,30.0,20,NaN,NaN,NaN,Tunisia,United States dollar,USD,NaN,NaN,"Developer, full-stack","Professional degree (JD, MD, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Diversity of the company or organization;Remot...,Very dissatisfied,"I’m not actively looking, but I am open to new...",Python;Rust,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",NaN,NaN,Very important,Curious about other opportunities;Growth or le...,NaN,Once a year,No,Yes,No,Occasionally: 1-2 days per quarter but less th...,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Meditate,Windows,"Just me - I am a freelancer, sole proprietor, ...",NaN,WordPress,NaN,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js,jQuery,Just as welcome now as I felt last year,50.0,6,4
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,Microsoft SQL Server,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,White or of European descent,Man,Flex time or a flexible schedule;How widely us...,Very satisfied,"I’m not actively looking, but I am open to new...",HTML/CSS;Java;JavaScript;Python;R;SQL,HTML/CSS;Java;JavaScript;Python;SQL,Pandas;TensorFlow,Pandas,Github;Microsoft Teams,Github;Microsoft Teams,No,Neutral,Fairly important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Every few months,Yes,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Windows,2 to 9 employees,Android;Linux;Raspberry Pi;Windows,Android;Linux;Raspberry Pi;Windows,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4

In [249]:
df.shape

(64461, 60)

In [250]:
df.sort_values(by=['Country', 'ConvertedComp'], ascending=[True, False], inplace=True)

In [251]:
df[['Country', 'ConvertedComp']].head(50)

                Country  ConvertedComp
Respondent
62788       Afghanistan      1000000.0
65381       Afghanistan      1000000.0
65456       Afghanistan      1000000.0
38672       Afghanistan       231192.0
28374       Afghanistan       130000.0
9839        Afghanistan        23328.0
63848       Afghanistan        23328.0
51862       Afghanistan        20950.0
51509       Afghanistan        20220.0
44484       Afghanistan        18660.0
15422       Afghanistan        18000.0
2932        Afghanistan        16335.0
26540       Afghanistan        13992.0
57269       Afghanistan        10884.0
26775       Afghanistan         8016.0
30568       Afghanistan         5448.0
30522       Afghanistan         4668.0
28811       Afghanistan         4509.0
34969       Afghanistan         4356.0
26857       Afghanistan         2328.0
33878       Afghanistan         1860.0
35753       Afghanistan          780.0
18049       Afghanistan          109.0
35295       Afghanistan            0.0
898         Afghanistan            NaN
5972        Afghanistan            NaN
7616        Afghanistan            NaN
7710        Afghanistan            NaN
8631        Afghanistan            NaN
8856        Afghanistan            NaN
9486        Afghanistan            NaN
9617        Afghanistan            NaN
10350       Afghanistan            NaN
23798       Afghanistan            NaN
24215       Afghanistan            NaN
25001       Afghanistan            NaN
26575       Afghanistan            NaN
26594       Afghanistan            NaN
26623       Afghanistan            NaN
29893       Afghanistan            NaN
30608       Afghanistan            NaN
31317       Afghanistan            NaN
35179       Afghanistan            NaN
35656       Afghanistan            NaN
35687       Afghanistan            NaN
36574       Afghanistan            NaN
37159       Afghanistan            NaN
37601       Afghanistan            NaN
37698       Afghanistan            NaN
37951       Afghanistan            NaN

In [252]:
df['ConvertedComp'].nlargest(10)

Respondent
5725     2000000.0
54263    2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
123      2000000.0
125      2000000.0
193      2000000.0
665      2000000.0
699      2000000.0
Name: ConvertedComp, dtype: float64

In [254]:
df.nsmallest(10, 'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,Yes,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,NaN,MySQL;PostgreSQL;SQLite,Academic researcher;Educator;Scientist,"Other doctoral degree (Ph.D., Ed.D., etc.)","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,Very dissatisfied,I am actively looking for a job,NaN,Assembly;Bash/Shell/PowerShell;C;C++;Java;Java...,NaN,TensorFlow;Unity 3D,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a year,Yes,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Play games;Go for a walk or other physical act...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",NaN,Android;iOS;Linux;MacOS,NaN,NaN,Yes,"No, not at all",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,Yes,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,MariaDB,NaN,Academic researcher,Primary/elementary school,Employed full-time,NaN,NaN,Family friendliness,Neither satisfied nor dissatisfied,I am actively looking for a job,Bash/Shell/PowerShell;C,NaN,Hadoop,NaN,"Google Suite (Docs, Meet, etc)",NaN,No,Extremely important,Somewhat important,Just because,"Read company media, such as employee blogs or ...",Once a decade,NaN,Yes,No,Rarely: 1-2 days per year or less,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Play games,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",AWS,NaN,NaN,NaN,Yes,"No, not at all",Daily or almost daily,A few times per month or weekly,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
6054,I am a developer by profession,Yes,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,NaN,MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Independent contractor, freelancer, or self-em...",NaN,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,I am not interested in new job opportunities,NaN,PHP,NaN,NaN,NaN,NaN,No,Neutral,Not at all important/not necessary,NaN,NaN,Once every few years,Not sure,Onboarding? What onboarding?,Yes,Often: 1-2 days per week or more,NaN,Indifferent,Stack Overflow (public Q&A for anyone who code...,NaN,MacOS,"Just me - I am a freelancer, sole proprietor, ...",NaN,MacOS,NaN,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
27135,I am a developer by profession,No,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,MySQL,MySQL,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",NaN,Man,Industry that I’d be working in;How widely use...,Very satisfied,"I’m not actively looking, but I am open to new...",Go;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;PHP;Python;R;SQL;VBA,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Apache Spark;Node.js;Pandas;TensorFlow;Torch/P...,Jira;Github;Trello,Jira;Github;Trello,No,Extremely important,Fairly important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Play games;Visit Stack Overflow;Go for a walk ...,Windows,2 to 9 employees,Raspberry Pi;Windows,Google Cloud Platform;Raspberry Pi;Windows,NaN,NaN,Yes,"No, not really",I have never participated in Q&A on Stack Over...,A few times per week,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
60292,I am a developer by profession,Yes,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,NaN,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fairly important,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"10,000 or more employees",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,No,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,NaN,NaN,Academic researcher;Data or business analyst;D...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Critically important,NaN,NaN,NaN,Not sure,NaN,Yes,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,NaN,2 to 9 employees,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,Yes,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,Elasticsearch;Firebase;MongoDB;MySQL;PostgreSQ...,Firebase;MongoDB;MySQL;Oracle;PostgreSQL;Redis,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,NaN,"I’m not actively looking, but I am open to new...",Bash/Shell/PowerShell;Dart;Go;JavaScript;Pytho...,Assembly;Bash/Shell/PowerShell;C;HTML/CSS;Java...,Flutter;Node.js;React Native;TensorFlow,Node.js,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,Jira;Github;Gitlab;Slack;Trello;Google Suite (...,No,Extremely important,NaN,Curious about other opportunities;Better compe...,NaN,Every few months,NaN,NaN,Yes,Occasionally: 1-2 days per quarter but less th...,Start a free trial,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,MacOS,20 to 99 employees,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Docker;Heroku;Linux;MacOS,NaN,NaN,Yes,"Yes, somewhat",Less than once per month or monthly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,Yes,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,NaN,Firebase;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...",Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",Middle Eastern,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,"I’m not actively looking, but I am open to new...",C++;Go;Kotlin;Python;Rust,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,React Native;TensorFlow,.NET Core;Node.js,NaN,"Github;Gitlab;Trello;Google Suite (Docs, Meet,...",No,Extremely important,Not at all important/not necessary,NaN,"Read company media, such as employee blogs or ...",Every few months,Not sure,Onboarding? What onboarding?,No,Often: 1-2 days per week or more,Read ratings or reviews on third party sites l...,Indifferent,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Panic;Do other work and c...,Linux-based,"Just me - I am a freelancer, sole proprietor, ...",Android;iOS;MacOS;Windows,Docker;Google Cloud Platform;Kubernetes;Linux,NaN,Bisexual,Yes,Neutral,A few times per month or weekly,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
15493,I am a developer by profession,No,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"I’m not actively looking, but I am open to new...",JavaScript,HTML/CSS;JavaScript,Node.js;React Native;Teraform,Node.js,Github;Facebook Workplace,Github;Slack;Trello,No,Extremely important,Somewhat important,Curious about other opportunities;Better compe...,Company reviews from third party sites (e.g. G...,Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS;Google Cloud Platform,AWS,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Daily or almost daily,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4
57369,I am a developer by profession,No,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,DynamoDB,DynamoDB;MongoDB,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Middle Eastern,Man,"Flex time or a flexible schedule;Languages, fr...",Very satisfied,"I’m not actively looking, but I am open to new...",JavaScript,JavaScript,Node.js;React Native;Teraform,Node.js,Github;Gitlab;Facebook Workplace;Trello;Stack ...,"Github;Slack;Trello;Google Suite (Docs, Meet, ...",No,Somewhat important,Somewhat important,Curious about other opportunities;Better compe...,"Read company media, such as employee blogs or ...",Once a decade,No,No,Yes,Often: 1-2 days per week or more,Start a free trial;Visit developer communities...,Indifferent,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow...,Windows,"Just me - I am a freelancer, sole proprietor, ...",AWS,AWS,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, somewhat",I have never participated in Q&A on Stack Over...,Multiple times per day,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5

In [255]:
df.shape

(64461, 60)

In [256]:
df['ConvertedComp'].head(15)

Respondent
62788    1000000.0
65381    1000000.0
65456    1000000.0
38672     231192.0
28374     130000.0
9839       23328.0
63848      23328.0
51862      20950.0
51509      20220.0
44484      18660.0
15422      18000.0
2932       16335.0
26540      13992.0
57269      10884.0
26775       8016.0
Name: ConvertedComp, dtype: float64

In [257]:
df['ConvertedComp'].median()

54049.0

In [266]:
df['Gender'].value_counts()

Man                                                            46013
Woman                                                           3844
Non-binary, genderqueer, or gender non-conforming                385
Man;Non-binary, genderqueer, or gender non-conforming            121
Woman;Non-binary, genderqueer, or gender non-conforming           92
Woman;Man                                                         76
Woman;Man;Non-binary, genderqueer, or gender non-conforming       26
Name: Gender, dtype: int64

In [267]:
df['Gender'].value_counts(normalize=True)

Man                                                            0.910121
Woman                                                          0.076033
Non-binary, genderqueer, or gender non-conforming              0.007615
Man;Non-binary, genderqueer, or gender non-conforming          0.002393
Woman;Non-binary, genderqueer, or gender non-conforming        0.001820
Woman;Man                                                      0.001503
Woman;Man;Non-binary, genderqueer, or gender non-conforming    0.000514
Name: Gender, dtype: float64

In [270]:
df['Country'].value_counts()

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Lesotho                                   1
Micronesia, Federated States of...        1
Kiribati                                  1
Mali                                      1
Saint Lucia                               1
Name: Country, Length: 183, dtype: int64

In [272]:
country_grp = df.groupby(['Country'])
country_grp

In [275]:
country_grp.get_group('India')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,NaN,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,Slightly dissatisfied,I am actively looking for a job,Java;JavaScript;Python,Java;Python,NaN,NaN,NaN,NaN,Not sure,NaN,Very important,Better compensation;Better work/life balance;W...,Company reviews from third party sites (e.g. G...,Every few months,No,Yes,No,Often: 1-2 days per week or more,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Windows,500 to 999 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,INR,Microsoft SQL Server,Microsoft SQL Server,"Developer, back-end",NaN,"Independent contractor, freelancer, or self-em...",South Asian,NaN,Family friendliness,Very satisfied,I am not interested in new job opportunities,C#;JavaScript;SQL;TypeScript,C#;JavaScript;SQL;TypeScript,.NET;.NET Core;Node.js,.NET;.NET Core;Node.js,Stack Overflow for Teams,Stack Overflow for Teams,Yes,Extremely important,Very important,NaN,NaN,Once every few years,NaN,Yes,No,Often: 1-2 days per week or more,Ask developers I know/work with,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",NaN,Multiple times per day,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,DynamoDB,Firebase;MongoDB;MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Not employed, but looking for work",South Asian,Man,Flex time or a flexible schedule;How widely us...,NaN,I am actively looking for a job,Go;Kotlin;TypeScript,C;C++;HTML/CSS;Java;JavaScript;Python,Flutter;Node.js;React Native;TensorFlow,NaN,Confluence;Stack Overflow for Teams,Github;Facebook Workplace;Slack;Microsoft Team...,NaN,NaN,NaN,NaN,NaN,Once a year,Yes,NaN,No,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Windows,NaN,AWS;Docker;Heroku;iOS,Android;Arduino;Google Cloud Platform;Raspberr...,NaN,Straight / Heterosexual,Yes,Neutral,A few times per week,Daily or almost daily,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,Cassandra;MySQL;PostgreSQL,MySQL;PostgreSQL,"Developer, back-end;Developer, QA or test;DevO...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,East Asian,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Bash/Shell/PowerShell;C;C++;Java;Perl;Scala,Bash/Shell/PowerShell;C++;Perl,Apache Spark,NaN,Confluence;Jira;Github;Gitlab;Google Suite (Do...,"Confluence;Jira;Github;Google Suite (Docs, Mee...",Not sure,Neutral,Critically important,Just because;Curious about other opportunities...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Onboarding? What onboarding?,No,Sometimes: 1-2 days per month but less than we...,NaN,Indifferent,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Linux-based,500 to 999 employees,Google Cloud Platform;Linux,Linux,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,NaN,MongoDB;MySQL,MySQL,"Developer, full-stack;Developer, QA or test","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python;SQL,C;HTML/CSS;Java;JavaScript;PHP;Python;SQL,NaN,NaN,Jira;Github;Gitlab;Slack,Jira;Github;Gitlab;Slack,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Linux-based,NaN,Linux;Windows,Linux;Windows,NaN,Straight / Heterosexual,Not sure/can't remember,Neutral,NaN,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
55407,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,"Associate degree (A.A., A.S., etc.)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,NaN,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
filt = df['Country'] == 'India'
df.loc[filt]['Gender'].value_counts()

Man                                                            5002
Woman                                                           370
Woman;Man                                                        21
Non-binary, genderqueer, or gender non-conforming                12
Man;Non-binary, genderqueer, or gender non-conforming             5
Woman;Man;Non-binary, genderqueer, or gender non-conforming       4
Woman;Non-binary, genderqueer, or gender non-conforming           1
Name: Gender, dtype: int64

In [281]:
country_grp['Employment'].value_counts(normalize=True).loc['China']

Employment
Employed full-time                                      0.529891
Student                                                 0.282609
Independent contractor, freelancer, or self-employed    0.089674
Not employed, but looking for work                      0.065217
Employed part-time                                      0.019022
Not employed, and not looking for work                  0.008152
Retired                                                 0.005435
Name: Employment, dtype: float64

In [295]:
# country_grp['Employment'].value_counts(normalize=True).head(20)
country_grp['Employment'].value_counts(normalize=True).loc['India']

Employment
Employed full-time                                      0.731107
Student                                                 0.160159
Independent contractor, freelancer, or self-employed    0.048660
Not employed, but looking for work                      0.041692
Employed part-time                                      0.015619
Not employed, and not looking for work                  0.002523
Retired                                                 0.000240
Name: Employment, dtype: float64

In [296]:
country_grp['Employment'].value_counts(normalize=True).loc['India']

Employment
Employed full-time                                      0.731107
Student                                                 0.160159
Independent contractor, freelancer, or self-employed    0.048660
Not employed, but looking for work                      0.041692
Employed part-time                                      0.015619
Not employed, and not looking for work                  0.002523
Retired                                                 0.000240
Name: Employment, dtype: float64

In [300]:
#use loc[] after a method applied on the group
country_grp['ConvertedComp'].mean().loc['Germany']

92508.64733881436

In [302]:
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                       median           mean
Country
Afghanistan                           15163.5  148290.125000
Albania                               15900.0   25611.000000
Algeria                                9432.0   10362.812500
Andorra                               88640.0   88640.000000
Angola                                 5292.0    5292.000000
...                                       ...            ...
Venezuela, Bolivarian Republic of...   3600.0    6280.611111
Viet Nam                              10344.0   28342.605769
Yemen                                 36000.0   36000.000000
Zambia                                 5452.0   17506.400000
Zimbabwe                               7200.0   26338.181818

[183 rows x 2 columns]

In [306]:
#magic trick here
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [307]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

Respondent
7        False
22        True
58       False
63        True
149      False
         ...
54757     True
55407      NaN
62464      NaN
62954    False
64236      NaN
Name: LanguageWorkedWith, Length: 8403, dtype: object

In [308]:
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [314]:
#x is each country, as a serie
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()/x.count())

<ipython-input-314-7ac8093cadd4>:2: RuntimeWarning:

invalid value encountered in long_scalars

Country
Afghanistan                             0.229167
Albania                                 0.342105
Algeria                                 0.512821
Andorra                                 0.375000
Angola                                  0.333333
                                          ...
Venezuela, Bolivarian Republic of...    0.453125
Viet Nam                                0.361702
Yemen                                   0.166667
Zambia                                  0.285714
Zimbabwe                                0.481481
Name: LanguageWorkedWith, Length: 183, dtype: float64

In [315]:
country_respondents = df['Country'].value_counts()
country_respondents

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Lesotho                                   1
Micronesia, Federated States of...        1
Kiribati                                  1
Mali                                      1
Saint Lucia                               1
Name: Country, Length: 183, dtype: int64

In [316]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [317]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Lesotho                                   1                   0
Micronesia, Federated States of...        1                   1
Kiribati                                  1                   0
Mali                                      1                   0
Saint Lucia                               1                   1

[183 rows x 2 columns]

In [318]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [319]:
python_df

                                    NumRespondents  NumKnowsPython
United States                                12469            5964
India                                         8403            2670
United Kingdom                                3896            1621
Germany                                       3890            1712
Canada                                        2191            1011
...                                            ...             ...
Lesotho                                          1               0
Micronesia, Federated States of...               1               1
Kiribati                                         1               0
Mali                                             1               0
Saint Lucia                                      1               1

[183 rows x 2 columns]

In [320]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
United States,12469,5964,47.830620
India,8403,2670,31.774366
United Kingdom,3896,1621,41.606776
Germany,3890,1712,44.010283
Canada,2191,1011,46.143314
...,...,...,...
Lesotho,1,0,0.000000
"Micronesia, Federated States of...",1,1,100.000000
Kiribati,1,0,0.000000
Mali,1,0,0.000000
Saint Lucia,1,1,100.000000

In [321]:
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df.head(50)

,NumRespondents,NumKnowsPython,PctKnowsPython
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Gabon,1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
Guyana,5,3,60.000000
Swaziland,7,4,57.142857
Iceland,53,28,52.830189
Finland,349,183,52.435530
Uganda,81,42,51.851852
Mauritania,4,2,50.000000
Burkina Faso,6,3,50.000000
Timor-Leste,2,1,50.000000
Papua New Guinea,2,1,50.000000
Jamaica,14,7,50.000000
Solomon Islands,2,1,50.000000
Belize,4,2,50.000000
Cameroon,50,24,48.000000
United States,12469,5964,47.830620
Israel,653,307,47.013783
Ecuador,49,23,46.938776
Taiwan,158,73,46.202532
Canada,2191,1011,46.143314
Oman,11,5,45.454545
Estonia,145,65,44.827586
Ireland,444,199,44.819820
Japan,297,132,44.444444
Switzerland,629,278,44.197138
Germany,3890,1712,44.010283
France,1898,833,43.888303
Singapore,228,99,43.421053
Costa Rica,76,33,43.421053
Australia,1208,524,43.377483
Lao People's Democratic Republic,7,3,42.857143
Democratic Republic of the Congo,7,3,42.857143
Trinidad and Tobago,7,3,42.857143
China,371,158,42.587601
Peru,101,43,42.574257
Algeria,94,40,42.553191
Malta,47,20,42.553191
Zimbabwe,31,13,41.935484
Norway,384,160,41.666667
New Zealand,353,147,41.643059
United Kingdom,3896,1621,41.606776
Hong Kong (S.A.R.),111,46,41.441441
"Venezuela, Bolivarian Republic of...",70,29,41.428571
Slovenia,157,65,41.401274
Kenya,271,111,40.959410
Netherlands,1343,544,40.506329
Qatar,20,8,40.000000

In [325]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()/len(x)).sort_values(ascending=False)

Country
Gabon                                 1.000000
Saint Lucia                           1.000000
Micronesia, Federated States of...    1.000000
Montenegro                            0.692308
Brunei Darussalam                     0.666667
                                        ...
Fiji                                  0.000000
Djibouti                              0.000000
Chad                                  0.000000
Cape Verde                            0.000000
Lesotho                               0.000000
Name: LanguageWorkedWith, Length: 183, dtype: float64

In [326]:
country_grp['LanguageWorkedWith']

In [329]:
# for x in country_grp['LanguageWorkedWith']:
#     print(len(x))

In [331]:
def norm_by_data2(x):
    return x.str.contains('Python').sum()/len(x)
#     x['data1'] /= x['data2'].sum()
#     return x

country_grp['LanguageWorkedWith'].apply(norm_by_data2).sort_values(ascending=False)

Country
Gabon                                 1.000000
Saint Lucia                           1.000000
Micronesia, Federated States of...    1.000000
Montenegro                            0.692308
Brunei Darussalam                     0.666667
                                        ...
Fiji                                  0.000000
Djibouti                              0.000000
Chad                                  0.000000
Cape Verde                            0.000000
Lesotho                               0.000000
Name: LanguageWorkedWith, Length: 183, dtype: float64

In [349]:
#what you passed in is a serie
def norm_by_data2(x):
    print((x.str.contains('Python').sum()))
    print(len(x))
    print("--------------------")
#     l=list(x)
#     print(l)
#     for a in x:
#         print(a)
#     print(len(x))
#     return x
#     return x.str.contains('Python').sum()/len(x)
#     x['data1'] /= x['data2'].sum()
#     return x

country_grp['LanguageWorkedWith'].apply(norm_by_data2)

11
84
--------------------
13
54
--------------------
40
94
--------------------
3
13
--------------------
1
9
--------------------
0
2
--------------------
134
395
--------------------
17
64
--------------------
524
1208
--------------------
205
539
--------------------
11
50
--------------------
1
3
--------------------
2
9
--------------------
179
609
--------------------
2
5
--------------------
40
129
--------------------
173
459
--------------------
2
4
--------------------
3
9
--------------------
1
7
--------------------
10
40
--------------------
25
96
--------------------
2
8
--------------------
635
1818
--------------------
2
3
--------------------
89
323
--------------------
3
6
--------------------
0
2
--------------------
4
31
--------------------
24
50
--------------------
1011
2191
--------------------
0
2
--------------------
0
1
--------------------
71
181
--------------------
158
371
--------------------
100
285
--------------------
3
8
--------------------
33
76
--------------------
54
185
--------------------
7
22
--------------------
20
50
--------------------
195
500
--------------------
6
17
--------------------
3
7
--------------------
144
397
--------------------
0
2
--------------------
13
72
--------------------
23
49
--------------------
79
281
--------------------
6
26
--------------------
1
3
--------------------
65
145
--------------------
19
59
--------------------
0
1
--------------------
183
349
--------------------
833
1898
--------------------
1
1
--------------------
0
4
--------------------
23
67
--------------------
1712
3890
--------------------
40
105
--------------------
149
390
--------------------
0
1
--------------------
18
49
--------------------
1
5
--------------------
3
5
--------------------
1
5
--------------------
6
21
--------------------
46
111
--------------------
138
371
--------------------
28
53
--------------------
2670
8403
--------------------
142
499
--------------------
176
491
--------------------
12
44
--------------------
199
444
--------------------
2
8
--------------------
307
653
--------------------
422
1117
--------------------
7
14
--------------------
132
297
--------------------
13
57
--------------------
18
61
--------------------
111
271
--------------------
0
1
--------------------
7
34
--------------------
7
18
--------------------
6
16
--------------------
3
7
--------------------
36
111
--------------------
24
71
--------------------
0
1
--------------------
2
8
--------------------
0
1
--------------------
64
171
--------------------
15
42
--------------------
5
21
--------------------
2
8
--------------------
73
231
--------------------
3
10
--------------------
0
1
--------------------
20
47
--------------------
0
1
--------------------
2
4
--------------------
5
18
--------------------
179
540
--------------------
1
1
--------------------
0
2
--------------------
4
12
--------------------
9
13
--------------------
67
176
--------------------
2
7
--------------------
10
51
--------------------
2
8
--------------------
0
1
--------------------
89
242
--------------------
544
1343
--------------------
147
353
--------------------
7
35
--------------------
0
5
--------------------
192
593
--------------------
10
31
--------------------
0
1
--------------------
160
384
--------------------
5
11
--------------------
246
809
--------------------
9
24
--------------------
1
2
--------------------
9
26
--------------------
43
101
--------------------
124
405
--------------------
509
1278
--------------------
147
388
--------------------
8
20
--------------------
35
88
--------------------
10
50
--------------------
196
604
--------------------
421
1092
--------------------
10
31
--------------------
1
1
--------------------
0
3
--------------------
0
2
--------------------
20
90
--------------------
10
26
--------------------
93
306
--------------------
2
6
--------------------
99
228
--------------------
64
188
--------------------
65
157
--------------------
1
2
--------------------
3
18
--------------------
158
494
--------------------
78
201
--------------------
448
1161
--------------------
109
295
--------------------
10
34
--------------------
4
7
--------------------
353
886
--------------------
278
629
--------------------
5
13
--------------------
73
158
--------------------
1
4
--------------------
47
148
--------------------
11
38
--------------------
1
2
--------------------
3
10
--------------------
3
7
--------------------
35
125
--------------------
269
777
--------------------
1
4
--------------------
42
81
--------------------
158
539
--------------------
27
115
--------------------
1621
3896
--------------------
10
31
--------------------
5964
12469
--------------------
33
100
--------------------
8
41
--------------------
29
70
--------------------
102
364
--------------------
1
7
--------------------
4
21
--------------------
13
31
--------------------

Country
Afghanistan                             None
Albania                                 None
Algeria                                 None
Andorra                                 None
Angola                                  None
                                        ...
Venezuela, Bolivarian Republic of...    None
Viet Nam                                None
Yemen                                   None
Zambia                                  None
Zimbabwe                                None
Name: LanguageWorkedWith, Length: 183, dtype: object

In [342]:
type(df.Age)

pandas.core.series.Series

In [350]:
# country_grp['ConvertedComp'].agg(['median', 'mean'])
type(country_grp['ConvertedComp'])

pandas.core.groupby.generic.SeriesGroupBy

In [352]:
type(country_grp['ConvertedComp'].sum())

pandas.core.series.Series

In [354]:
type(country_grp['ConvertedComp'].agg(['median', 'mean']))

pandas.core.frame.DataFrame

In [355]:
country_grp['ConvertedComp'].agg(['median', 'mean']).columns

Index(['median', 'mean'], dtype='object')

In [356]:
type(country_grp)

pandas.core.groupby.generic.DataFrameGroupBy

In [362]:
country_grp['ConvertedComp'].mean().loc['India']

28751.27136431784

In [364]:
print(1)

1

In [365]:
print(2)

2

In [366]:
print(4)

4

In [367]:
print(5)

5

In [369]:
print(6)

6

In [370]:
print(7)

7