In [11]:
import numpy as np
import pandas as pd

In [14]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [15]:
planets.head(5)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [17]:
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

          A         B
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [18]:
df.mean()

A    0.477888
B    0.443420
dtype: float64

In [19]:
df.mean(axis='columns')

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

In [21]:
df.mean(axis='index')

A    0.477888
B    0.443420
dtype: float64

In [22]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [23]:
planets.dropna().shape

(498, 6)

In [24]:
planets.dropna().head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [35]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df
p

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [28]:
df2=df.groupby('key').sum()

In [37]:
print(type(df['data']))
type(df2['data'])

<class 'pandas.core.series.Series'>

pandas.core.series.Series

In [38]:
df2['data']

key
A    3
B    5
C    7
Name: data, dtype: int64

In [39]:
df['data']

0    0
1    1
2    2
3    3
4    4
5    5
Name: data, dtype: int64

In [44]:
import plotly.express as px
# fig = px.scatter(x=[0, 1, 2, 3, 4,5], y=df['data'])
fig = px.scatter(x=[0, 1, 2], y=df2['data'])
fig.update_layout(width=500,height=300)
fig.show()

In [50]:
planets.head(5)
# planets.method.unique()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [60]:
df2=planets.groupby('method',as_index=False)[['orbital_period','distance']].median()
#type is series

In [61]:
df2.columns.values

array(['method', 'orbital_period', 'distance'], dtype=object)

In [62]:
df2

                          method  orbital_period  distance
0                     Astrometry      631.180000    17.875
1      Eclipse Timing Variations     4343.500000   315.360
2                        Imaging    27500.000000    40.395
3                   Microlensing     3300.000000  3840.000
4  Orbital Brightness Modulation        0.342887  1180.000
5                  Pulsar Timing       66.541900  1200.000
6    Pulsation Timing Variations     1170.000000       NaN
7                Radial Velocity      360.200000    40.445
8                        Transit        5.714932   341.000
9      Transit Timing Variations       57.011000   855.000

In [66]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

(1035, 6)

In [70]:
planets.groupby('method')['number'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,1.000000,0.000000,1.0,1.0,1.0,1.00,1.0
Eclipse Timing Variations,9.0,1.666667,0.500000,1.0,1.0,2.0,2.00,2.0
Imaging,38.0,1.315789,0.933035,1.0,1.0,1.0,1.00,4.0
Microlensing,23.0,1.173913,0.387553,1.0,1.0,1.0,1.00,2.0
Orbital Brightness Modulation,3.0,1.666667,0.577350,1.0,1.5,2.0,2.00,2.0
Pulsar Timing,5.0,2.200000,1.095445,1.0,1.0,3.0,3.00,3.0
Pulsation Timing Variations,1.0,1.000000,NaN,1.0,1.0,1.0,1.00,1.0
Radial Velocity,553.0,1.721519,1.157141,1.0,1.0,1.0,2.00,6.0
Transit,397.0,1.954660,1.399119,1.0,1.0,1.0,2.00,7.0
Transit Timing Variations,4.0,2.250000,0.500000,2.0,2.0,2.0,2.25,3.0

In [71]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [76]:
df.groupby('key').aggregate([min, np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [77]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [80]:
df.groupby('key').aggregate({'data1': 'sum',
                             'data2': 'median'})

     data1  data2
key
A        3    4.0
B        5    3.5
C        7    6.0

In [81]:
def filter_func(x):
    return x['data2'].std() > 4

# 'df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)"

In [82]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [83]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [91]:
def filter_func(x):
    print(x)
    return x['data2'].std() > 4
df2=df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      5
3   A      3      3
  key  data1  data2
1   B      1      0
4   B      4      7
  key  data1  data2
2   C      2      3
5   C      5      9

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [93]:
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [95]:
def norm_by_data2(x):
    # x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x

df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [96]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [99]:
L = [0, 1, 0, 1, 2, 0]
df.groupby(L,as_index=False).sum()

   data1  data2
0      7     17
1      4      3
2      4      7

In [100]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [101]:
df2 = df.set_index('key')

df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

In [102]:
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df2.groupby(mapping).sum()

           data1  data2
consonant     12     19
vowel          3      8

In [105]:
df2.groupby(str.lower).mean()

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0

In [108]:
df2.groupby([str.lower, mapping]).mean()

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [ ]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

In [114]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'    #you can give a name to a var
decade.name

'decade'

In [125]:
planets.groupby(['method', decade])['number'].sum()

method                         decade
Astrometry                     2010s       2
Eclipse Timing Variations      2000s       5
                               2010s      10
Imaging                        2000s      29
                               2010s      21
Microlensing                   2000s      12
                               2010s      15
Orbital Brightness Modulation  2010s       5
Pulsar Timing                  1990s       9
                               2000s       1
                               2010s       1
Pulsation Timing Variations    2000s       1
Radial Velocity                1980s       1
                               1990s      52
                               2000s     475
                               2010s     424
Transit                        2000s      64
                               2010s     712
Transit Timing Variations      2010s       9
Name: number, dtype: int64

In [130]:
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [131]:
planets['decade']=decade
planets.head(5)

            method  number  orbital_period   mass  distance  year decade
0  Radial Velocity       1         269.300   7.10     77.40  2006  2000s
1  Radial Velocity       1         874.774   2.21     56.95  2008  2000s
2  Radial Velocity       1         763.000   2.60     19.84  2011  2010s
3  Radial Velocity       1         326.030  19.40    110.62  2007  2000s
4  Radial Velocity       1         516.220  10.50    119.47  2009  2000s

In [133]:
planets.groupby(['method', 'decade'],as_index=False)['number'].sum()
# .unstack().fillna(0)

                           method decade  number
0                      Astrometry  2010s       2
1       Eclipse Timing Variations  2000s       5
2       Eclipse Timing Variations  2010s      10
3                         Imaging  2000s      29
4                         Imaging  2010s      21
5                    Microlensing  2000s      12
6                    Microlensing  2010s      15
7   Orbital Brightness Modulation  2010s       5
8                   Pulsar Timing  1990s       9
9                   Pulsar Timing  2000s       1
10                  Pulsar Timing  2010s       1
11    Pulsation Timing Variations  2000s       1
12                Radial Velocity  1980s       1
13                Radial Velocity  1990s      52
14                Radial Velocity  2000s     475
15                Radial Velocity  2010s     424
16                        Transit  2000s      64
17                        Transit  2010s     712
18      Transit Timing Variations  2010s       9

In [148]:
planets.groupby(['method', 'decade'],)['number'].sum().unstack(-2).fillna(0)

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
decade,,,,,,,,,,
1980s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1990s,0.0,0.0,0.0,0.0,0.0,9.0,0.0,52.0,0.0,0.0
2000s,0.0,5.0,29.0,12.0,0.0,1.0,1.0,475.0,64.0,0.0
2010s,2.0,10.0,21.0,15.0,5.0,1.0,0.0,424.0,712.0,9.0

In [149]:
planets.groupby(['method', 'decade'],)['number'].sum().unstack(-1).fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

In [ ]:
#if you use as_index, then use melt, like in the tutorial of racing bar chart in "scatter plot file folder"

In [150]:
print('fix issue')

fix issue